---
import type { CollectionEntry } from "astro:content";
import { Pill, Button, Card } from "@eliancodes/brutal-ui";
import { Image } from "astro:assets";

interface Props {
  post: CollectionEntry<"projects">;
}

const { post } = Astro.props;
---

<style>
  .flex-container:nth-child(odd) {
    flex-direction: row;
  }

  .flex-container:nth-child(even) {
    flex-direction: row-reverse;
  }
</style>

<div class="flex-container flex gap-6 flex-col lg:flex-row items-start">
  <Image
    src={post.data.imgUrl}
    alt={post.data.title}
    width={800}
    height={400}
    class="rounded-[0.5rem] hidden lg:block lg:h-full lg:w-2/5 object-cover"
  />

  <Card>
    <div class="gap-4 space-y-3">
      <!-- <Image
        src={post.data.imgUrl}
        alt={post.data.title}
        width={800}
        height={400}
        class="rounded-[0.5rem] sm:h-full sm:w-full lg:hidden"
      /> -->

      <h3 class="poppins text-lg md:text-xl">{post.data.title}</h3>
      <p class="poppins">{post.data.description}</p>

      <div class="hidden sm:inline-block pb-2">
        <!-- <p class="poppins mt-2">tags:</p> -->
        <div class="flex justify-between items-center">
          <ul class="flex flex-wrap gap-4">
            {
              post.data.tags.map((tag) => {
                return (
                  <li>
                    <a
                      class="sanchez"
                      href={`/projects/tags/${tag.toLowerCase()}/`}
                    >
                      <Pill>{tag}</Pill>
                    </a>
                  </li>
                );
              })
            }
          </ul>
          {
            post.data.draft && (
              <span class="bg-green rounded-full border-2 py-1 px-4 text-sm border-black card-shadow">
                Draft
              </span>
            )
          }
        </div>
      </div>

      <div class="flex items-center justify-between">
        <Button href={`/projects/${post.id}/`}>View Project &rsaquo;</Button>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://hexcape.thcl.dev"
          class="poppins underline text-sm text-black transition-colors hover:decoration-current focus:decoration-current default-ring flex items-center gap-1.5 c1 group decoration-transparent cursor-newtab"
        >
          <div class:list={["i-uil-paperclip", "w-4 h-4"]}></div>
          Open Live Site
        </a>
      </div>
    </div>
  </Card>
</div>
